

body { 
min-height: 100vh;
padding-bottom: 100px;
position : relative;
}

header {
    background-color:blueviolet;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}




#navbar img {
    width: 40px;
}

#navbar  {
justify-content: space-between;
background-color: #FFF;
padding: 5px 0;

}

#navbar a {
 font-size: 14px;
 color:#ccc;

}

#navbar a:hover {
    color:#F2A340;
   
   }

   #search-container {
background-image: url("../img/banner.jpg");
background-size:cover;
background-position:center;
height: 400px;
padding: 50px;
text-align: center;


   }
   #serch-container h1 {
    color:#F2A340;
    margin-bottom: 30px;
    font-weight: 900;

    
   }
    #search-container form {
        width: 50%;
       margin: 0 auto;
    }
#events-container h2 {
    margin-bottom:10px;

}

#card-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    


}

